@page "/"
@using Microsoft.Extensions.Options
@using Volo.Abp.Http.Client
@using Volo.Abp.Identity
@using Volo.Abp.Application.Dtos
@inject IIdentityUserAppService IdentityUserAppService

<h1>Hello, world!</h1>

<h2>List of the users:</h2>

<ul>
    @foreach (var user in Users.Items)
    {
        <li>@user.UserName / @user.Email</li>
    }    
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    PagedResultDto<IdentityUserDto> Users { get; set; } = new PagedResultDto<IdentityUserDto>();

    protected override async Task OnInitializedAsync()
    {
        Users = await IdentityUserAppService.GetListAsync(new GetIdentityUsersInput());
    }

}